.task-widget{

  .x-panel-body .x-autocontainer-innerCt {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 24px;
  }

}

table {
  margin-top: 10px;
}

.x-grid-item-selected {
  background-color: #6633ff;
}
